body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {

    width: 220px;
    background: #178066;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.3);
}

.profile {
   padding-left: 40px;
    display: flex;
    align-items: center;
    gap: 20px;

}

i{
    font-size: 10px;
    color: white;
}

/* image upload */

.upload-container {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}
.profile-pic-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    cursor: pointer;
    background-color: #f0f0f0;
}
.plus-icon {
    font-size: 20px;
    color: #888;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    display: none;
}
.profile-pic-container:hover .plus-icon {
    display: block;
}
#imagePreview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}
.input{
    display: none;
}


.sidebar h2 {
    margin: 0 0 20px 30px;
    font-size: 24px;
    
}
.sidebar span{
    color: #62d2a2;
}

.sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    margin: 30px;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s;
}

.sidebar a:hover {
    background: #1fab89;
}

.main {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

.top-bar{
    float: right;
}

#searchBar {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.header {
    background: #178066;
    color: white;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
.header h1{
    text-align: center;
}

button {
    padding: 10px 15px;
    margin: 10px 0;
    cursor: pointer;
    background: #62d2a2;
    border: none;
    color: white;
    border-radius: 5px;
    transition: background 0.3s;
}

button:hover {
    background: #1fab89;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background: #178066;
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}

.popup, .details-popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content, .details-content {
    background-color: #fefefe;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    text-align: center;
    width: 350px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover {
    color: black;
}

img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 5px;
}

.popup form{
display: flex;
flex-direction: column;
margin-top: 20px;
}
.popup form label{
text-align: left;
margin: 15px 0 10px 0;
}
.popup form input{
outline: none;
padding: 10px 5px;
border-radius: 5px;
border: 1px solid #ccc;
}

tbody a{
    color: #62d2a2;
    text-decoration: none;
    
    border-radius: 5px;
    transition: background 0.3s;   
}
tbody a:hover{
    color: #178066;  
}



@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
    }

    .main {
        padding: 10px;
    }
}
