body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.wrap{
    margin:auto;
    background-color: #fefefe;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    text-align: center;
    width: 350px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    padding: 10px 15px;
    margin: 10px 0;
    cursor: pointer;
    background: #178066;
    border: none;
    color: white;
    border-radius: 5px;
    transition: background 0.3s;
}

button:hover {
    background: #62d2a2;
}

 form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

form div{
    display: flex;
    flex-direction: column;
}
 form label {
    text-align: left;
    margin: 15px 0 10px 0;
}

 form input {
    outline: none;
    padding: 10px 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}