body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.popup {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: #fefefe;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
    text-align: center;
    width: 350px;
}

button {
    padding: 10px 15px;
    margin: 10px 0;
    cursor: pointer;
    background: #2980b9;
    border: none;
    color: white;
    border-radius: 5px;
    transition: background 0.3s;
}

button:hover {
    background: #3498db;
}

 form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

 form label {
    text-align: left;
    margin: 15px 0 10px 0;
}

 form input {
    outline: none;
    padding: 10px 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}